th.rotated-text {
    height: 500px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text  div {
    transform:
        translate(13px, 0px)
        rotate(270deg);
    width: 30px;
}

th.rotated-text  div  span {
    padding: 5px 10px;
}